<% provide(:title, @user.name) %>
<div class="center hero-unit">
	<div class="row">
		<aside class="span3">
			<section>
				<h3>
					<%= gravatar_for @user %>
					<%= @user.name %>
				</h3>
				<%= @user.email %>
			</section>
		</aside>
		<div class="span7">
			<% if @user.microposts.any? %>
				<h4>Microposts (<%= @user.microposts.count %>)</h4>
				<ol class="microposts">
					<%= render @microposts %>
				</ol>
				<%= will_paginate @microposts %>
			<% end %>
		</div>
	</div>
</div>