<a href="<%= user_path(current_user) %>">
	<%= gravatar_for current_user, :size => 52 %>
</a>
<h4>
	<%= current_user.name %>
</h4>
<span>
	<%= link_to "View my profile", current_user %>
</span>
<span>
	<% @count = -1 %>
	<% current_user.microposts.each do |m| %>
		<% if !m.priv? %>
			<% @count = @count + 1 %>
		<% end %>
	<% end %>
	<%= pluralize(@count, "micropost") %>
</span>